html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Classes*/
.headingAndDescription{
  margin-top: 120px;
  text-align: center;
}
.hrStyle{
  width: 100%;
}

/*Id's*/
#map {
  height: 100%;
}
#row2{
  margin-bottom: 50px;
}